<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>otherExternalDomainYouNeedToCall</key>
	<dict>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookAppID</key>
	<string>1006139099816804</string>
	<key>FacebookDisplayName</key>
	<string>[Facebook app name]</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.6</string>
	<key>CFBundleDisplayName</key>
	<string>mycheffy</string>
	<key>CFBundleIdentifier</key>
	<string>com.mycheffy.app</string>
	<key>CFBundleVersion</key>
	<string>1.0.8.2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>mycheffy</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1006139099816804</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1007824463475-njhvq6m3k713010h119mpt115ljliffd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>com.googleusercontent.apps.1007824463475-njhvq6m3k713010h119mpt115ljliffd</string>
	</array>
	<key>CFBundleURLName</key>
	<string>Google Servicces</string>
	<key>CFBundleTypeRole</key>
	<string>Editor</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need access to your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need access to your location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need access to your location</string>
	<key>NSLocationUsageDescription</key>
	<string>Need access to your location</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Munchbytes needs access to your calendar</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Munchbytes needs access to your gallery</string>
</dict>
</plist>
